@import '../var/_var';
@import '../mixin/_mixin';

.service-section{

    background-color: $main-background-color;
    padding: 80px 0;
    &__container{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &__item{
        width: 270px;
        height: 288px;
        border-radius: 16px;
        padding: 22px 32px 32px 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.101081);
        background-color: white;
        &--filled{   
            background-color: $main-color-red;
            .service-section__item-title{
                color: white;
            }
        }
    }
   &__item-wrap{
     display: flex;
     justify-content: space-between;
     margin-bottom: 19px;
   }
   &__item-img{
       width: 48px;
       height: 48px;
       flex-shrink: 0;
   }
   &__item-title{
       font-family: Palanquin Dark;
       font-style: normal;
       font-weight: normal;
       font-size: 24px;
       line-height: 32px;
       width: 50%;
       color: $main-title-color;
   }
   &__item-par{
    font-family: Palanquin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: $main-text-color;
    margin-bottom: 40px;
   }
   &__item-btn{
       @include red-btn;
   }
   &__info{
    &-legend{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.495556);
    }
    &-data{
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
    }
}
}